<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dcordero.ibadajoz" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="BadajozBusApplication"
        android:theme="@style/SBusTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.tubasa.BusLineActivity"
            android:label="@string/action_bar_buses"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/SBusBackButtonTheme"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.tubasa.BusStopActivity"
            android:label="@string/action_bar_buses"
            android:parentActivityName=".activities.tubasa.BusLineActivity"
            android:theme="@style/SBusBackButtonTheme"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.news.NewsViewerActivity"
            android:label="@string/action_bar_news"
            android:parentActivityName=".activities.tubasa.BusLineActivity"
            android:theme="@style/SBusBackButtonTheme"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.contacts.ContactsViewerActivity"
            android:label="@string/action_bar_contacts"
            android:parentActivityName=".activities.contacts.ContactsViewerActivity"
            android:theme="@style/SBusBackButtonTheme"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="ec49118a46dcecf403669aa5211a45bc53bbc1f4"/>
    </application>

</manifest>
